* {
  box-sizing: border-box;
}

body {
  background-color: dodgerblue;
  display: flex;
  justify-content: center;
  height: 350px;
  overflow: auto;
  margin: 0%;
}

.container {
  background-color: white;
  border: 1px;
  border-color: red;
  border-radius: 10px;
  width: 500px;
  overflow: auto;
}
.quiz-header {
  padding: 50px;
}
h2 {
  padding: 5px;
  text-align: center;
  margin: 0;
}
